<main role="main" class="container-fluid">
  <div class="d-flex flex-column align-items-center" style="height: 100%;">
    <div class="m-auto text-center p-2">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <form class="">
        <div class="form-group" id="dataFields">
          <label for="fieldUsername" class="sr-only">Username</label>
          <input type="text" class="form-control" id="fieldUsername" placeholder="Username" required="" autofocus="">
          <label for="fieldPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" id="fieldPassword" placeholder="Password" required="">
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="checkboxRememberMe">
          <label class="custom-control-label" for="checkboxRememberMe">Remember me</label>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Sign In</button>
      </form>
    </div>
  </div>
</main>
