<!-- <main role="main" class="container-fluid">
  <div class="d-flex flex-column align-items-center" style="height: 100%;">
    <div class="m-auto text-center p-2">
      <h1 class="h3 mb-3 font-weight-normal">Dashboard</h1>
    </div>
    <div class="container-fluid">
      <div class="row" style="height: 100%;">
        <div class="col-8" style="height: 100%;">
          <h1>List</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <h1>Details</h1>
        </div>
      </div>
    </div>
  </div>
</main> -->

<style>
.bd-highlight {
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.15);
}
</style>

<div class="modal fade" id="addNewNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNewNoteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" [formGroup]="addForm" (ngSubmit)="addNote()" novalidate>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="title" [ngClass]="{
              'is-invalid': g.title.invalid && (g.title.dirty || g.title.touched),
              'is-valid': g.title.valid && (g.title.dirty || g.title.touched)
            }">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" id="body" formControlName="body" rows="3" [ngClass]="{
              'is-invalid': g.body.invalid && (g.body.dirty || g.body.touched),
              'is-valid': g.body.valid && (g.body.dirty || g.body.touched)
            }"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!addForm.valid">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addNoteClearFields()">Close</button>
      </div>
    </div>
  </div>
</div>

<main role="main" class="d-flex flex-column" style="width: 100%; position:absolute; height: inherit;">
  <div class="text-center">
    <h1>Dashboard</h1>
    <div class="btn-group">
      <button class="btn btn-primary" data-toggle="modal" data-target="#addNewNoteModal" (click)="addNoteClearFields()"><i class="fas fa-plus"></i> Add New</button>
      <button class="btn btn-primary" (click)="refreshNotes()"><i class="fas fa-sync"></i> Refresh List</button>
    </div>
    
  </div>
  <div class="flex-grow-1 d-flex" style="height: inherit;">
    <div class="p-2 flex-fill overflow-auto">
      <h2>List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of notesArray; index as i;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>
              <div class="btn-group btn-block">
                <button class="btn btn-primary" (click)="selectNote(item.id)"><i class="fas fa-check"></i> Select</button>
                <button class="btn btn-primary" (click)="deleteNote(item.id)"><i class="fas fa-trash"></i> Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-2 flex-fill">
      <h2>Details</h2>
      <form class="" [formGroup]="updateForm" (ngSubmit)="updateSelectedNote()" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="title" [ngClass]="{
            'is-invalid': f.title.invalid && (f.title.dirty || f.title.touched),
            'is-valid': f.title.valid && (f.title.dirty || f.title.touched)
          }">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea class="form-control" id="body" formControlName="body" rows="3" [ngClass]="{
            'is-invalid': f.body.invalid && (f.body.dirty || f.body.touched),
            'is-valid': f.body.valid && (f.body.dirty || f.body.touched)
          }"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!updateForm.valid">Update</button>
      </form>
    </div>
  </div>
</main>