<main role="main" class="container-fluid">
  <div class="d-flex flex-column align-items-center" style="height: 100%;">
    <div class="m-auto text-center p-2">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <form class="">
        <div class="form-group" id="UsernameField">
          <label for="fieldUsername" class="sr-only">Username</label>
          <input type="text" class="form-control" id="fieldUsername" placeholder="Username" required="" autofocus="">
        </div>
        <div class="form-group" id="passwordFields">
          <label for="fieldPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" id="fieldPassword" placeholder="Password" required="">
          <label for="fieldPasswordRepeat" class="sr-only">Password</label>
          <input type="password" class="form-control" id="fieldPasswordRepeat" placeholder="Repeat Password" required="">
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Sign Up</button>
      </form>
    </div>
  </div>
</main>